doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content=$$('front/author/@fullname'))
    meta(name='keywords', content=$$('front/keyword/text()'))
    meta(name='description', content=$$('front/abstract/t/text()').join(' '))
    meta(name='generator', content=version)
    title= $('front/title/text()')
  body
    h1 Examples
    p This document will provide some examples
    h2 Sluggify
    p= slug('This is a Slug')
    p This isn't: #{slug(null)}
    h2 Loop
    - each s in $$('middle/section')
      .section(id=$att(s, 'anchor'))= $('@title', s)
        - each t in $$('t/text()', s)
          p= t
